#!/usr/bin/evn python3

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("pixel_noise_radius", int_t, 0, "Radius of the pixel noise", 5, 0, 50)
gen.add("tilt_angle", double_t, 0, "Tilt angle of the detector in degrees", 0.0, -10.0, 10.0)
gen.add("enable_missing_detections", bool_t, 0, "Enable missing detection", False)
gen.add("image_processing_delay", double_t, 0, "Delay in image processing in ms", 0.0, 0.0, 5000.0)


exit(gen.generate("pimage_utils", "fake_detector", "FakeDetector"))