<launch>

<!-- Start DIF publisher -->
<include file="$(find pimage_utils)/launch/dif_publisher.launch" />

<arg name="input_image" default="/pimage/dif/image_raw" />

<node name="waste_detector" pkg="pimage_utils" type="waste_detector.py" output="screen">
    <remap from="input_image" to="$(arg input_image)" />
    <param name="engine" type="string" value="$(find pimage_utils)/models/yolov5/DiffObjDet.engine" />
    <param name="intrinsics_path" type="string" value="$(find pimage_utils)/config/ost.yaml" />
    <param name="extrinsics_path" type="string" value="$(find pimage_utils)/config/camera_pose.yaml" />
    <param name="confidence_thresh" type="double" value="0.6" />
</node>

<!-- goal publisher  (pcl2goal) -->
<node name="goal_publisher" pkg="kingfisher_rl" type="goal_publisher.py" output="screen" />

</launch>
